<template>
    <div>
      
      <!-- Navbar-->
      <header class="navbar navbar-expand-lg navbar-light fixed-top" data-scroll-header>
        <div class="container"><a class="navbar-brand me-3 me-xl-4" href="city-guide-home-v1.html"><img class="d-block" src="/images/logo2.png" width="60" alt="Finder"></a>
          <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div v-if="auth==='yes'" class="dropdown d-none d-lg-block order-lg-3 my-n2 me-3"><a class="d-block py-2" href="#">
              <img class="rounded-circle" src="/assets/img/avatars/24.png" width="40" alt="Annette Black"></a>
            <div class="dropdown-menu dropdown-menu-end">
              <div class="d-flex align-items-start border-bottom px-3 py-1 mb-2" style="width: 16rem;">
                  <img class="rounded-circle" src="/assets/img/avatars/24.png" width="48" alt="Annette">
                <div class="ps-2">
                  <h6 class="fs-base mb-0">{{name}}</h6><span class="star-rating star-rating-sm">
                      <i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i>
                      <i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i>
                      <i class="star-rating-icon fi-star-filled active"></i></span>
                  <div class="fs-xs py-2">{{phone}}<br>{{email}}</div>
                </div>
              </div><router-link to="/orders" class="dropdown-item" href="#"><i class="fi-user opacity-60 me-2"></i>Profile</router-link>
              <div class="dropdown-divider" ></div>
              <a class="dropdown-item" v-on:click="logout()" href="#">Sign Out</a>
            </div>
          </div>
          
          <a v-else  v-on:click="showLoginModal()" class="btn btn-sm text-primary d-none d-lg-block order-lg-3" href="#" ><i class="fi-user me-2">
         </i>Sign in</a>
         
              <a v-on:click="showModal()" class="btn btn-outline-primary btn-sm rounded-pill ms-2 order-lg-3" href="#"><i class="fi-cart me-2"></i>
              <span class="badge bg-success ms-1">{{item}}</span><span class='d-none d-sm-inline'></span></a>
          <div class="collapse navbar-collapse order-lg-2" id="navbarNav">
            <ul class="navbar-nav navbar-nav-scroll" style="max-height: 35rem;">
              <!-- Demos switcher-->
              <li class="nav-item dropdown py-2 me-lg-2"><a class="nav-link dropdown-toggle align-items-center border-end-lg py-1 pe-lg-4" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                <i class="fi-layers me-2"></i>Menu</a>
                <ul class="dropdown-menu">
                  <li><router-link to="/" class="dropdown-item" href="#"><i class="fi-building fs-base opacity-50 me-2"></i>Home</router-link></li>
                  <li class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/terms.pdf"><i class="fi-briefcase fs-base opacity-50 me-2"></i>Terms of use</a></li>
                  <li class="dropdown-divider"></li>
                 
                </ul>
              </li>
              <!-- Menu items-->
              <router-link to="/"  class="nav-item  active"><a class="nav-link " href="#" role="button"  aria-expanded="false">Home</a>
                
              </router-link>
              <li v-for="data in category" :key="data.id" class="nav-item dropdown " ><a v-on:click="routerPage2(data.id)" class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">{{data.name}}</a>
                <ul class="dropdown-menu">
                  <li v-for="subject in data.darasa" :key="subject.id" v-on:click="routerPage(subject.id)"><a class="dropdown-item" > {{subject.name}}</a></li>
                </ul>
              </li>
              <li v-if="auth==='yes'" class="nav-item dropdown " ><router-link to="/orders" class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</router-link>
                <ul class="dropdown-menu">
                  <li><router-link to="/orders" class="dropdown-item" > Orders</router-link></li>
                   <li><router-link to="/downloads" class="dropdown-item" > Downloads</router-link></li>
                    <li v-if="user_type==='teacher'"><router-link to="/uploads" class="dropdown-item" > Uploads</router-link></li>
                     <li v-if="user_type==='teacher'"><router-link to="/upload" class="dropdown-item" > Sell</router-link></li>
                      <li v-if="user_type==='teacher'"><router-link to="/logs" class="dropdown-item" > Mpesa</router-link></li>
                       <li><router-link to="/profile" class="dropdown-item" > Profile</router-link></li>
                        <li v-if="user_type==='teacher'"><router-link to="/wallet" class="dropdown-item" > Wallet</router-link></li>
                </ul>
              </li>
               <li v-if="auth==='yes'" class="nav-item dropdown d-lg-none"><a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img class="rounded-circle me-2" src="/assets/img/avatars/36.png" width="30" alt="Annette Black">{{name}}</a>
                <div class="dropdown-menu">
                  <div class="ps-3"><span class="star-rating star-rating-sm"><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i></span>
                    <div class="fs-xs py-2">{{phone}}<br>{{email}}</div>
                  </div>
                 
                  <router-link to="/orders" class="dropdown-item" href="#"><i class="fi-star opacity-60 me-2"></i>Profile</router-link>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" v-on:click="logout()" href="#">Sign Out</a>
                </div>
              </li>
             <li v-else  class="nav-item d-lg-none"><a class="nav-link" href="#signin-modal" data-bs-toggle="modal"><i class="fi-user me-2"></i>Sign in</a></li>
             
            </ul>
          </div>
        </div>
      </header>

        <router-view></router-view>
       




       <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-shopping-cart text-success">My cart</i></h5>
                </div>
                <div class="modal-body">
                    <table class="show-cart table">
                        <thead>
                        <th>#</th>
                        <th>Title</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th></th>
                        </thead>
                        <tbody>
                        <tr v-for="(c,index) in cart" :key="c.id">
                            <td>{{index+1}}</td>
                            <td>{{c.title}}</td>
                            <td>1</td>
                            <td>Ksh {{formatPrice(c.amount)}}</td>
                            <td><a v-on:click="removeItem(index)" class="btn btn-danger fa fa-close"></a></td>
                        </tr>
                        </tbody>

                    </table>
                    <div>Total price: Ksh <span class="total-cart">{{formatPrice(total)}}</span></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" v-on:click="closeModal()" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" v-on:click="checkOut()">Place Order</button>
                </div>
            </div>
        </div>
    </div>


 <!-- Sign In Modal-->
      <div class="modal fade" id="signin-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered p-2 my-0 mx-auto" style="max-width: 950px;">
          <div class="modal-content">
            <div class="modal-body px-0 py-2 py-sm-0">
              <button class="btn-close position-absolute top-0 end-0 mt-3 me-3" type="button" data-bs-dismiss="modal"></button>
              <div class="row mx-0 align-items-center">
                <div class="col-md-6 border-end-md p-4 p-sm-5">
                  <h2 class="h3 mb-4 mb-sm-5">Hey there!<br>Sign in to continue.</h2><img class="d-block mx-auto" src="/assets/img/signin-modal/signin.svg" width="344" alt="Illustartion">
                  <div v-if="action==='login'" class="mt-4 mt-sm-5">Don't have an account? <a v-on:click="switchRegister()" href="#">Sign up here</a></div>
                  <div v-else class="mt-4 mt-sm-5">Have an account  <a href="#" v-on:click="switchLogin()">Sign in here</a></div>
                </div>
                <div class="col-md-6 px-4 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-5">
                    <!-- <a class="btn btn-outline-info rounded-pill w-100 mb-3" href="#"><i class="fi-google fs-lg me-1"></i>Sign in with Google</a><a class="btn btn-outline-info rounded-pill w-100 mb-3" href="#"><i class="fi-facebook fs-lg me-1"></i>Sign in with Facebook</a> -->
                  <div class="d-flex align-items-center py-3 mb-3">
                    <hr class="w-100">
                    <!-- <div class="px-3">Sign</div> -->
                    <p v-if="action==='login'">Login</p>
                    <p v-if="action==='forget'">Password</p>
                    <hr class="w-100">
                  </div>
                  <form class="needs-validation" novalidate v-on:submit.prevent="login()" v-if="action==='login'">
                    <div class="mb-4">
                      <label class="form-label mb-2" for="signin-email">Email address</label>
                      <input class="form-control" type="email" v-model="message.email" id="signin-email" placeholder="Enter your email" required>
                    </div>
                    <div class="mb-4">
                      <div class="d-flex align-items-center justify-content-between mb-2">
                        <label class="form-label mb-0" for="signin-password">Password</label><a v-on:click="switchForget()" class="fs-sm" href="#">Forgot password?</a>
                      </div>
                      <div class="password-toggle">
                        <input class="form-control" v-model="message.password" type="password" id="signin-password" placeholder="Enter password" required>
                        <label class="password-toggle-btn" aria-label="Show/hide password">
                          <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                        </label>
                      </div>
                    </div>
                    <button class="btn btn-primary btn-lg rounded-pill w-100" type="submit">Sign in</button>
                  </form>


                   <form class="needs-validation" novalidate v-on:submit.prevent="getOTP()" v-if="action==='forget'">
                    <div class="mb-4">
                      <label class="form-label mb-2" for="signin-email">Email address</label>
                      <input class="form-control" type="email" v-model="message.email" id="signin-email" placeholder="Enter your email" required>
                    </div>
                    <button class="btn btn-primary btn-lg rounded-pill w-100" type="submit">Get OTP</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
</template>
<script>
    export default {
        data() {
            return {
                proxyUrl: process.env.MIX_APP_URL,
                name:'',
                user_type:'',
                auth:'',
                email:'',
                phone:'',
                category:[],
                total:'0',
                item:'0',
                cart:[],
                search:{},
                message:{data:[]},
                action:'login',
            }
        },
        mounted() {
        this.$root.$on('popCart', () => {
        this.item=localStorage.getItem('item');
        })

        this.$root.$on('showLoginModal', () => {
         this.showLoginModal();
        })
        this.$root.$on('updateInfo', () => {
         this.updateInfo2();
        })
        },
        created(){
            this.getData();
            this.name=localStorage.getItem('name');
            this.user_type=localStorage.getItem('user_type');
            this.auth=localStorage.getItem('auth');
            this.item=localStorage.getItem('item');
             this.email=localStorage.getItem('email');
              this.phone=localStorage.getItem('phone');
        },
        watch:{
            '$route' (to, from) {
                this.name=localStorage.getItem('name');
                this.user_type=localStorage.getItem('user_type');
                this.auth=localStorage.getItem('auth');
                this.item=localStorage.getItem('item');
                this.email=localStorage.getItem('email');
              this.phone=localStorage.getItem('phone');
            }
        },

        methods: {
          updateInfo(){
                this.name=localStorage.getItem('name');
            this.user_type=localStorage.getItem('user_type');
            this.auth=localStorage.getItem('auth');
            this.item=localStorage.getItem('item');
            this.email=localStorage.getItem('email');
              this.phone=localStorage.getItem('phone');
            },
            updateInfo2(){
              this.$router.push({name: 'index'});
                this.name=localStorage.getItem('name');
            this.user_type=localStorage.getItem('user_type');
            this.auth=localStorage.getItem('auth');
            this.item=localStorage.getItem('item');
            this.email=localStorage.getItem('email');
              this.phone=localStorage.getItem('phone');
              setTimeout(() => {
               this.showLoginModal();
            }, 1000);
            },
            switchLogin(){
             this.action='login';
            },
            switchRegister(){
                $("#signin-modal").modal("hide"); 
          this.$router.push({name: 'register'});
            },
            switchForget(){
                this.action='forget';
            },
            routeSearch(){
                localStorage.setItem('keyword',this.search.keyword);
                this.$router.push({name: 'search'});
                this.$router.go(this.$router.currentRoute)
            },
            showLoginModal(){
                 $("#signin-modal").modal("show"); 
            },
            getOTP() {
               $('.modal-dialog').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`getCode`;
                this.axios.post(uri, this.message).then((response) => {
                     $('.modal-dialog').loader('hide');
                   
                    if(response.data.status){
                        this.$toast.open({ message: response.data.message,type: "success", position: "top-right", });
                        this.action='login';
                    }else{
                        this.$toast.open({ message: response.data.status,type: "error", position: "top", });
                        localStorage.removeItem('token')
                    }
                }).catch(error => {
                    $('.modal-dialog').loader('hide');
                   this.$toast.open({ message: "Something went wrong,please try again later!",type: "error", position: "top", });
                });

            },
            checkOut(){
                if(this.cart.length<=0){
                    this.$toast.open({message: 'Sorry, your cart is empty', type: 'error', position: 'top-right'});
                }else if(this.auth!=='yes'){
                    $("#cart").modal("hide");
                     this.showLoginModal();
                }else{
                    this.message.data=this.cart;
                    $('.modal-dialog').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
                    let uri =this.proxyUrl+`placeOrder`;
                    this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                        $('.modal-dialog').loader('hide');
                        if(response.data.status){
                            this.$toast.open({message: response.data.message, type: 'success', position: 'top-right'});
                            $("#cart").modal("hide");
                             localStorage.removeItem('item');
                             localStorage.removeItem('cart');
                            this.$router.push({name: 'invoice', params: { id: response.data.id }});

                        }else{
                            this.$toast.open({message: response.data.message, type: 'error', position: 'top-right'});
                        }

                    }).catch(error => {
                        $('.modal-dialog').loader('hide');
                        if (error.response.status === 401) {
                             $("#cart").modal("hide");
                             this.showLoginModal();
                            clearSession();
                        }else{
                            this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top-right'});
                        }
                    });
                }
            },
            login() {
                $('.modal-dialog').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`login`;
                this.axios.post(uri, this.message).then((response) => {
                    $('.modal-dialog').loader('hide');
                    if(response.data.status){
                        if(response.data.user.status==='unapproved'){
                            this.$toast.open({message: 'Account has not approved', type: 'error', position: 'top'});
                        }else if(response.data.user.status==='Inactive'){
                            this.$toast.open({message: 'Unauthorized access', type: 'error', position: 'top'});
                        }else {
                            localStorage.setItem('token', response.data.access_token);
                            localStorage.setItem('name', response.data.user.name);
                            localStorage.setItem('user_type', response.data.user.user_type);
                            localStorage.setItem('auth', 'yes');
                            localStorage.setItem('phone', response.data.user.phone);
                            localStorage.setItem('email', response.data.user.email);
                            this.updateInfo();
                            $("#signin-modal").modal("hide"); 
                            this.$toast.open({message: 'You have signed in successfully!', type: 'success', position: 'top'});
                            
                        }
                        // this.$router.go(this.$router.currentRoute)
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top-right'});
                        localStorage.removeItem('token')
                    }
                }).catch(error => {
                    $('.modal-dialog').loader('hide');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top-right'});
                    localStorage.removeItem('token')
                });

            },
            closeModal(){
                $("#cart").modal("hide");
            },
            removeItem(id){
                this.cart.splice(id, 1);
                localStorage.setItem('cart',JSON.stringify(this.cart));
               localStorage.setItem('item',this.cart.length);
               this.item=this.cart.length;
                this.$root.$emit('popCart');
                this.calcTotal();
                // this.$toast.open({message: 'Item removed from cart successfully', type: 'info', position: 'top'});

            },
            showModal(){
                this.cart=JSON.parse(localStorage.getItem('cart'));
                this.total=this.cart.reduce((acc, item) => +acc + +item.amount, 0);
                $("#cart").modal("show");
            },
            calcTotal(){
                this.total=this.cart.reduce((acc, item) => +acc + +item.amount, 0);
            },
            getData() {
                let uri =this.proxyUrl+`category`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.category=response.data.category;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });

            },
            logout() {
                localStorage.removeItem('token');
                localStorage.removeItem('auth');
                this.name=localStorage.getItem('name');
                this.user_type=localStorage.getItem('user_type');
                this.auth=localStorage.getItem('auth');
                this.item=localStorage.getItem('item');
                 this.$toast.open({ message: "You have logged out successfully.",type: "success", position: "top", });
                 this.$router.push({name: 'index'});

            },
            routerPage2(id){
                this.$router.push({name: 'shop_category', params: { id: id }});
                this.$root.$emit('shop_category')
                // this.$router.go(this.$router.currentRoute)
            },
            routerPage(id){
                this.$router.push({name: 'shop', params: { id: id }});
               this.$root.$emit('shop')
            },
           
            post(){
                this.$router.push({name: 'posts'});
                // this.$router.go(this.$router.currentRoute)
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }
        }
    }
</script>
