<template>
    <div>
        <!-- Navbar with search field -->
<header class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container">
    <a href="#" class="navbar-brand flex-shrink-0 me-2 me-xl-4">
      <img class="d-block" src="path-to-logo-image" width="116" alt="Menu">
    </a>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearchNav" aria-controls="navbarSearchNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Search visible on desktop -->
    <div class="input-group input-group-sm d-none d-lg-flex ps-2 ps-xxl-5 order-lg-3">
      <i class="fi-search position-absolute text-muted top-50 translate-middle-y ms-2"></i>
      <input class="form-control border-top-0 border-start-0 border-end-0 rounded-0" type="search" placeholder="Search site...">
    </div>

    <div class="collapse navbar-collapse order-lg-2" id="navbarSearchNav">
      
      <!-- Search visible on mobile -->
      <div class="d-lg-none bg-secondary border mx-n3 p-3 mt-3">
        <div class="input-group">
          <i class="fi-search position-absolute text-muted top-50 translate-middle-y ps-1 ms-2"></i>
          <input class="form-control rounded-2" type="search" placeholder="Search site...">
        </div>
      </div>

      <!-- Navigation -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <router-link to="/orders" class="nav-link" href="#">Orders</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/downloads" class="nav-link" href="#">Downloads</router-link>
        </li>
        <li v-if="user_type==='teacher'" class="nav-item">
          <router-link to="/uploads" class="nav-link" href="#">Uploads</router-link>
        </li>
         <li v-if="user_type==='teacher'" class="nav-item">
          <router-link to="/upload" class="nav-link" href="#">Sell</router-link>
        </li>
        <li v-if="user_type==='teacher'" class="nav-item">
          <router-link to="/logs" class="nav-link" href="#">Mpesa</router-link>
        </li>
        <li  class="nav-item">
          <router-link to="/profile" class="nav-link" href="#">Profile</router-link>
        </li>
        
        <li v-if="user_type==='teacher'" class="nav-item">
          <router-link to="/wallet" class="nav-link" href="#">Wallet</router-link>
        </li>
      </ul>
    </div>
  </div>
</header>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                proxyUrl: process.env.MIX_APP_URL,
                name:'',
                user_type:'',
                auth:'',
            }
        },
        created(){
            this.name=localStorage.getItem('name');
            this.user_type=localStorage.getItem('user_type');
            this.auth=localStorage.getItem('auth');
            this.item=localStorage.getItem('item');
        },
        watch:{
            '$route' (to, from) {
                this.name=localStorage.getItem('name');
                this.user_type=localStorage.getItem('user_type');
                this.auth=localStorage.getItem('auth');
                this.item=localStorage.getItem('item');
            }
        },
        methods: {

        }
    }
</script>
