#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #6aae2d;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}


/* Form Styles */

#mpesaForm {
    text-align: left;
    width: 300px;
    padding: 10px;
    margin: 20px 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important;
    border-radius: 9px;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif
}

.mpesaInput {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0em;
    outline: none;
    line-height: 1.21428571em;
    padding: 0.67857143em 1em;
    font-size: 1em;
    background: #FFFFFF;
    border: 1px solid rgba(34, 36, 38, 0.15);
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
    box-shadow: 0em 0em 0em 0em transparent inset;
    -webkit-transition: color 0.1s ease, border-color 0.1s ease;
    transition: color 0.1s ease, border-color 0.1s ease;
    width: 100%;
}

.mpesaLabel {
    display: block;
    margin: 0em 0em 0.28571429rem 0em;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.92857143em;
    font-weight: bold;
    text-transform: none;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif
}

#mpesaBtn {
    text-decoration: none;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif
}

#mpesaBtn :hover {
    color: white;
}

.mpesaButton {
    background: #6AAE2D;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif
}

.mpesaHeader {
    color: #6aae2d;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(34, 36, 38, .1);
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif
}

.pin-code {
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 50px #ddd;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}

.mr-3 {
    margin-right: 20px;
}