<template>
    <div class="mt-5"><br>
        <div class="container mt-5">
            <div class=" mt-5">
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                <Menu></Menu>
                </div>
                </div>
               
                <div class="row justify-content-center">
                     <h6 class="text-center">Downloads</h6>
                    <div class="col-sm-12">
                                    <div class="table-responsive">
                                    <table class="table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Order No</th>
                                                <th>Amount</th>
                                                <th>Status</th>
                                                <th>Payment Ref</th>
                                                <th>Download</th>
                                                <th>Title</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="(data,index) in pageOfItems" :key="data.id">
                                                <td>{{index+1}}</td>
                                                <td>{{data.order_no}}</td>
                                                <td>Ksh {{formatPrice(data.amount)}}</td>
                                                <td v-if="data.status==='PAID'" class="text-success">{{data.status}}</td>
                                                <td v-else class="text-danger">{{data.status}}</td>
                                                <td>{{data.payment_ref}}</td>
                                                <td><a  v-on:click="showModal(data.book_id)"><i class="fa fa-download"></i></a> </td>
                                                <td>{{data.title}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-sm-12">
                                            <jw-pagination :items="orders" @changePage="onChangePage" ></jw-pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="modal fade" id="files" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-download text-success2"></i></h5>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(data,index) in files" :key="data.id">
                                    <td>{{index+1}}</td>
                                    <td>{{data.url}}</td>
                                    <td><a :href="MIX_APP_File+'/storage/Books/'+data.url" target="_blank"><i class="fa fa-download"></i></a> </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" v-on:click="closeModal()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
                </div>
</template>
<script>
    import  Menu from '../view/menu'
    export default {
        name: 'App',
        components: {
            Menu
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                MIX_APP_File:'',
                message:{},
                books:[],
                subjects:[],
                name:'',
                user_type:'',
                auth:'',
                loader:'false',
                image:'',
                showMessage:'no',
                error:'',
                orders:[],
                pageOfItems:[],
                files:[],
            }
        },
        created(){
                this.getData();
        },
        methods: {
            closeModal(){
                $("#files").modal("hide");
            },
            showModal(id){
                this.message.book_id=id;
                this.$loading(true)
                let uri =this.proxyUrl+`getFiles`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.$loading(false)
                    this.files=response.data.files;
                    $("#files").modal("show");
                }).catch(error => {
                    this.$loading(false)
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });


            },
            onChangePage(pageOfItems) {
                // update page of items
                this.pageOfItems = pageOfItems;
            },
            getData() {
                this.$loading(true)
                let uri =this.proxyUrl+`downloads`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                   this.$loading(false)
                    this.orders=response.data.orders;
                    this.MIX_APP_File=response.data.MIX_APP_File;
                }).catch(error => {
                    this.$loading(false)
                    if (error.response.status === 401) {
                        clearSession();
                         this.$root.$emit('updateInfo')
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.');
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        },
    }

</script>
