<template>
    <div>
      <!-- Hero-->
      <section class="container py-5 mt-5 mb-lg-2">
        <div class="row align-items-center mt-md-2">
          <div class="col-lg-7 order-lg-2 mb-lg-0 mb-4 pb-2 pb-lg-0"><img class="d-block mx-auto" src="/images/bg2.png" width="746" alt="Hero image"></div>
          <div class="col-lg-5 order-lg-1 pe-lg-0">
            <h1 class="display-5 mb-4 me-lg-n5 text-lg-start text-center mb-4">Welcome to <span class="dropdown d-inline-block"><a class="dropdown-toggle text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Edubora</a><span class="dropdown-menu dropdown-menu-end my-1"><a class="dropdown-item fs-base fw-bold" href="#"></a><a class="dropdown-item fs-base fw-bold" href="#"></a><a class="dropdown-item fs-base fw-bold" href="#"></a><a class="dropdown-item fs-base fw-bold" href="#"></a><a class="dropdown-item fs-base fw-bold" href="#"></a></span></span></h1>
            <p class="text-lg-start text-center mb-4 mb-lg-5 fs-lg">Edubora is an e-learning platform that connects learners with all resources they require to reach their full potential. We have unlimited educational contents from the country’s greatest teachers, and from the best schools .</p>
            <!-- Search form-->
            <div class="me-lg-n5">
              <form class="form-group d-block d-md-flex position-relative rounded-md-pill me-lg-n5">
                <div class="input-group input-group-lg border-end-md"><span class="input-group-text text-muted rounded-pill ps-3"><i class="fi-search"></i></span>
                  <input class="form-control" type="text" placeholder="What are you looking for?">
                </div>
                <hr class="d-md-none my-2">
                <div class="d-sm-flex">
                  <router-link href="#" to="/upload"  class="btn btn-success btn-lg rounded-pill w-100 w-md-auto ms-sm-3">Sell Item</router-link>
                  <router-link to="/shopping" class="btn btn-primary btn-lg rounded-pill w-100 w-md-auto ms-sm-3" 
                  type="button">Shop now</router-link>
                </div>
              </form>
            </div>
          </div>
        </div>
        
      </section>
      

     <!-- Blog post: Card horizontal -->
     <div class="container">
<div class="row justify-content-center">
    <div class="col-sm-6" v-for="data in category" :key="data.id">
        <article class="card border-0 shadow-sm card-hover card-horizontal mb-3">
  <a href="#" class="card-img-top" style="background-image: url(/images/cat1.jpg);"></a>
  <div class="card-body">
    <a href="#" class="fs-xs text-uppercase text-decoration-none">{{data.name}}</a>
    <h3 class="fs-base pt-1 mb-2">
      <a href="#" class="nav-link">{{data.name}}</a>
    </h3>
    <p class="fs-sm text-muted">{{data.description}}</p>
    <a href="#" class="d-flex align-items-center text-decoration-none">
      
      <div class="ps-2">
        <h6 class="fs-sm text-nav lh-base mb-1" v-on:click="routerPage2(data.id)">Shop here...</h6>
      </div>
    </a>
  </div>
</article>
    </div>
</div>
     </div>

     <section class="container mb-5 pb-2 pb-lg-5">
        <div class="row align-items-lg-center gy-4">
          <div class="col-md-6"><img class="rounded-3" src="/images/bg2.png" alt="Cover" style="opacity:0.5;"></div>
          <div class="col-lg-5 offset-lg-1 col-md-6">
            <h2 class="mb-lg-4">Fit More Learning into your day.</h2>
            <p>A little bit of spare time is an opportunity for progress. That is why Edubora offers you access to study materials (whether for pre-primary, primary, secondary, or advanced levels such as professional courses, or upskilling courses and certifications) </p>
            <h2>Why Edubora?</h2>
            <ul class="list-unstyled mb-4 pb-lg-3">
              <li class="d-flex"><i class="fi-check mt-1 me-2 pe-1 text-primary"></i>Numerous teachers offering their study materials at low cost..</li>
              <li class="d-flex"><i class="fi-check mt-1 me-2 pe-1 text-primary"></i>Study help- Access Discussion Room where you can get free help in solving an academic challenge (just show others the effort you have made, and where you are stuck, and they will be there to help!), or help peers who are stuck in tackling their challenge.</li>
              <li class="d-flex"><i class="fi-check mt-1 me-2 pe-1 text-primary"></i>Free career guidance, consultation and support Enjoy your learning journey with Edubora!..</li>
            </ul>
            <h2>Disclaimer</h2>
            <p>Edubora Honor Code does not allow cheating, plagiarism, or other violations of academic conducts and integrity.</p>
            <router-link to="/shopping" class="btn btn-lg btn-primary rounded-pill" href="#"><i class="fi-cart me-2"></i>Shop now</router-link>
          </div>
        </div>
      </section>
      
    </div>
</template>
<script>
    export default {
        name: 'App',
        components: {

        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                books:{},
                loader:'false',
                category:[],
            }
        },
        created(){
            this.getCategory();
            // this.getData();
        },
        methods: {
          routerPage2(id){
                this.$router.push({name: 'shop_category', params: { id: id }});

            },
            getCategory() {
                let uri =this.proxyUrl+`category`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.category=response.data.category;
                }).catch(error => {

                });

            },
            getData() {
                let uri =this.proxyUrl+`getClientIndexPage`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.books=response.data.books;
                }).catch(error => {

                });

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        },
    }

</script>

