<template>
    <div>
       
    </div>
</template>
<script>
    export default {
        name: 'App',
        components: {

        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
               
            }
        },
        
        created(){
           this.showLoginModal();
        },
        methods: {
         showLoginModal(){
             this.$root.$emit('showLoginModal')
         },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        },
    }

</script>

