<template>
    <div class="mt-5"><br>
        <div class="container mt-5">
            <div class=" mt-5">
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                <Menu></Menu>
                </div>
                </div>
               
                <div class="row justify-content-center">
                    <h6 class="text-center">Withdrawal logs</h6>
                    <div class="col-sm-12">
                                    <div class="table-responsive">
                                    <table class="table  ">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Amount Withdrawn</th>
                                            <th>Other charges</th>
                                            <th>Withdrawal charges</th>
                                            <th>Amount received</th>
                                            <th>Account</th>
                                            <th>Mpesa Fef.</th>
                                            <th>System Ref</th>
                                            <th>Status</th>
                                            <th>Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(data,index) in pageOfItems" :key="data.id">
                                            <td>{{index+1}}</td>
                                            <td>Ksh.{{formatPrice(data.amount)}}</td>
                                            <td>Ksh {{formatPrice(data.charges)}}</td>
                                            <td>Ksh.{{formatPrice(data.withdraw_charges)}}</td>
                                            <td>Ksh.{{formatPrice(data.amount_to_pay)}}</td>
                                            <td >{{data.phone}}</td>
                                            <td>{{data.TransactionID}}</td>
                                            <td>{{data.system_ref}}</td>
                                            <td v-if="data.status==='COMPLETED'" class="text-success">{{data.status}}</td>
                                             <td v-else class="text-danger">{{data.status}}</td>
                                            <td>{{data.date}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-sm-12">
                                            <jw-pagination :items="books" @changePage="onChangePage" ></jw-pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
</template>
<script>
    import  Menu from '../view/menu'
    export default {
        name: 'App',
        components: {
            Menu
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                MIX_APP_File:'',
                message:{},
                books:[],
                books2:[],
                subjects:[],
                name:'',
                user_type:'',
                auth:'',
                loader:'false',
                image:'',
                showMessage:'no',
                error:'',
                pageOfItems: [],
            }
        },
        created(){
          
                this.getData();
           
        },
        methods: {
            filter(){
                let filterval=this.message.filterval;
                if(filterval==='' || filterval===null){
                    this.books=this.books2;
                }else{
                    let books =  this.books2.filter(function(product) {
                        return product.title.toLowerCase().includes(filterval.toLowerCase());
                    });
                    this.books=books;
                }
            },
            onChangePage(pageOfItems) {
                // update page of items
                this.pageOfItems = pageOfItems;
            },
            getData() {
                
                let uri =this.proxyUrl+`getLogsClient`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    
                    this.books=response.data.logs;
                    this.books2=response.data.logs;
                }).catch(error => {
                   
                    if (error.response.status === 401) {
                         clearSession();
                         this.$root.$emit('updateInfo')
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.');
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        },
    }

</script>
