<template>
    <div class="mt-5"><br>
        <div class="container mt-5">
            <div class=" mt-5">
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                <Menu></Menu>
                </div>
                </div>
               
                <div class="row justify-content-center">
                     <h6 class="text-center">Orders</h6>
                    <div class="col-sm-12">
                                    <div class="table-responsive">
                                    <table class="table ">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Order No</th>
                                            <th>Amount</th>
                                            <th>Items</th>
                                            <th>Status</th>
                                            <th>Payment method</th>
                                            <th>Payment Ref</th>
                                            <th>Pay</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(data,index) in pageOfItems " :key="data.id">
                                            <td>{{index+1}}</td>
                                            <td>{{data.order_no}}</td>
                                            <td>Ksh {{formatPrice(data.total)}}</td>
                                            <td>{{data.items}}</td>
                                            <td v-if="data.status==='PAID'" class="text-success">{{data.status}}</td>
                                            <td v-else class="text-danger">{{data.status}}</td>
                                            <td>{{data.payment_method}}</td>
                                            <td>{{data.trans_id}}</td>
                                            <td><router-link :to="{name:'invoice',params: { id: data.id }}" href="#"><i class="fa fa-money"></i></router-link> </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-sm-12">
                                            <jw-pagination :items="orders" @changePage="onChangePage" ></jw-pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
</template>
<script>
    import  Menu from '../view/menu'
    export default {
        name: 'App',
        components: {
            Menu
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                MIX_APP_File:'',
                message:{},
                books:[],
                subjects:[],
                name:'',
                user_type:'',
                auth:'',
                loader:'false',
                image:'',
                showMessage:'no',
                error:'',
                orders:[],
                pageOfItems:[]
            }
        },
        created(){
                this.getData();
        },
        methods: {
            onChangePage(pageOfItems) {
                // update page of items
                this.pageOfItems = pageOfItems;
            },
            getData() {
                this.$loading(true)
                let uri =this.proxyUrl+`orders`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                  this.$loading(false)
                    this.orders=response.data.orders;
                }).catch(error => {
                   this.$loading(false)
                    if (error.response.status === 401) {
                         clearSession();
                         this.$root.$emit('updateInfo')
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.');
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        },
    }

</script>
