<template>
    <div class="mt-5"><br>
        <div class="container mt-5">
            <div class=" mt-5">
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                <Menu></Menu>
                </div>
                </div>
               
                <div class="row justify-content-center">
                    <h6 class="text-center">Account</h6>
                    <div class="col-sm-6">
                        <div class="card">
                             <div class="card-title text-center">Edit Info</div>
                            <div class="card-body">
                                <form  v-on:submit.prevent="updateInfo()">
                                       <div class="mb-3">
                                            <label  for="exampleInputEmail1">Name </label>
                                            <input type="text" v-model="message.name" class="form-control" id="input-normal" placeholder="" required>
                                        </div>
                                        <div class="mb-3">
                                            <label  for="exampleInputEmail1">Email </label>
                                            <input type="text" v-model="message.email" class="form-control" id="input-normal" placeholder="" required>
                                        </div>
                                        <div class="mb-3">
                                            <label  for="exampleInputEmail1">Phone </label>
                                           <vue-tel-input v-model="message.phone"  class="form-control" id="input-normal" v-bind="bindProps"></vue-tel-input>
                                        </div>
                                        <div class="row mt-5">
                                           <button class="btn btn-primary btn-blockgit stat" type="submit">Update</button>
                                        </div>
                                </form>
                            </div>
                            </div>
                        </div>
                                <div class="col-sm-6">
                                   <div class="card">
                             <div class="card-title text-center">Change password</div>
                            <div class="card-body">
                                <form  v-on:submit.prevent="changePassword()">
                                       <div class="mb-3">
                                            <label  for="exampleInputEmail1">Current pasword </label>
                                            <input type="password" v-model="message2.currentpass" class="form-control" id="input-normal" placeholder="" required>
                                        </div>
                                        <div class="mb-3">
                                            <label  for="exampleInputEmail1">New password </label>
                                            <input type="password" v-model="message2.password" class="form-control" id="input-normal" placeholder="" required>
                                        </div>
                                        <div class="mb-3">
                                            <label  for="exampleInputEmail1">Confirm password </label>
                                            <input type="password" v-model="message2.repass" class="form-control" id="input-normal" placeholder="" required>
                                        </div>
                                        <div class="row mt-5">
                                           <button class="btn btn-warning btn-blockgit stat" type="submit">Update</button>
                                        </div>
                                </form>
                            </div>
                            </div>
                                </div>
                            </div>
                        </div>
        </div>

                    </div>
</template>
<script>
    import  Menu from '../view/menu'
    export default {
        name: 'App',
        components: {
            Menu
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message2:{},
                message:{},
                info:{phone:'',deduction:'0'},
                display:'false',
                deductions:[],
                wallet:'0.00',
                display:'false',
                 page:'',
                 bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    minLen:4,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
            }
        },
        created(){
                this.user();
        },
        methods: {
           
             switchPage(page){
                this.page=page;
            },
            
            changePassword(){
                  this.$loading(true)
                let uri =this.proxyUrl+`changePassword`;
                this.axios.post(uri,this.message2,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                     this.$loading(false)
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.logout();
                         this.$root.$emit('updateInfo')
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                   this.$loading(false)
                    if (error.response.status === 401) {
                        clearSession();
                         this.$root.$emit('updateInfo')
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            updateInfo(){
                  this.$loading(true)
                let uri =this.proxyUrl+`updateInfo`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                     this.$loading(false)
                   if(response.data.status){
                       this.page='';
                       this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                       this.user();
                   }
                }).catch(error => {
                    this.$loading(false)
                    if (error.response.status === 401) {
                         clearSession();
                         this.$root.$emit('updateInfo')
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            user() {
                let uri =this.proxyUrl+`user`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.message=response.data.user;
                    this.wallet=response.data.wallet;
                }).catch(error => {
                   this.$loading(false)
                    if (error.response.status === 401) {
                          clearSession();
                         this.$root.$emit('updateInfo')
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });

            },
            logout() {
                localStorage.removeItem('token');
                localStorage.removeItem('auth');
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        },

    }

</script>
