<template>
    <div>
        <div class="row justify-content-center nt-5">
            <div class="col-ms-4">
                <section class="container pb-5 mb-lg-5 mt-5">
        <div class="row g-4 justify-content-center">
          <div class="col-md-4">
              <a class="icon-box card card-body border-0 shadow-sm card-hover h-100 text-center">
              <div class="icon-box-media bg-faded-accent text-primary rounded-circle mx-auto mb-3"><i class="fi-user"></i></div>
              <span class="d-block mb-1 text-body">Sign up</span>

              <ul class="nav nav-tabs mb-0" role="tablist">
          <li class="nav-item" @click="switchUserType('client')">
            <a class="nav-link active" href="#signin" data-bs-toggle="tab" role="tab" aria-selected="true">
              <i class="fi-login fs-sm me-2 ms-n1"></i>
             Sign up as client
            </a>
          </li>
          <li class="nav-item" @click="switchUserType('teacher')">
            <a class="nav-link" href="#signup" data-bs-toggle="tab" role="tab" aria-selected="false">
              <i class="fi-user fs-sm me-2 ms-n1"></i>
              Sign up as tutor
            </a>
          </li>
        </ul>
              
                       <form  v-on:submit.prevent="register()" class="mt-5">
                         <div class="mb-3" v-if="message.user_type==='teacher'">
                              <label  for="exampleInputEmail1">Combine & Upload academic certificates as one PDF. </label>
                                <input type="file"  v-on:change="onFileChange" class="form-control" accept="application/pdf" id="exampleInputEmail1" required>
                            </div>
                            <div class="mb-3" v-if="message.user_type==='teacher'">
                                <input type="text" class="form-control" name="subject" v-model="message.institution" id="subject" placeholder="Institution" required>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" name="subject" v-model="message.name" id="subject" placeholder="Name" required>
                            </div>
                           <div class="mb-3">
                                <input type="email" class="form-control" name="subject" v-model="message.email" id="subject" placeholder="Email" required>
                            </div>
                           <div class="mb-3">
                                <vue-tel-input class="form-control" v-model="message.phone" v-bind="bindProps"></vue-tel-input>
                            </div>
                           <div class="mb-3">
                                <input type="password" class="form-control" name="subject" v-model="message.password" id="subject" placeholder="Password" required>
                            </div>
                           <div class="mb-3">
                                <input type="password" class="form-control" name="subject" v-model="message.repass" id="subject" placeholder="Confirm Password" required>
                            </div>
                            <div class="my-3">

                            </div>
                            <div class="form-group form-check mt-3 mb-5">
                                <input type="checkbox" class="form-check-input mr-5" id="exampleCheck1" required>
                                <label class="form-check-label" for="exampleCheck1"><a  href="/terms.pdf">   I agree to the terms and conditions</a></label>
                            </div>
                            <div v-if="showMessage==='yes'" class="alert alert-success alert-dismissible fade show" role="alert">
                            <span class="fw-bold">Congratulations:</span> Account created successfully, please wait for approval.You will receive notification.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                           </div>
                            <div class="row">
                              <button class="btn btn-primary btn-block" type="submit">Create account</button>
                            </div>
  </form>
              
              </a>
              </div>
        </div>
    
      </section>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{
                    user_type:'client'
                },
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    minLen:4,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                showMessage:'no',
                image:''
            }
        },
        methods: {
            onFileChange(e){
                this.image = e.target.files[0];
            },
            switchUserType(val){
                this.message.user_type=val;
            },
            register() {
              this.$loading(true)
               let formData = new FormData();
               formData.append('name',this.message.name);
               formData.append('email',this.message.email);
               formData.append('phone',this.message.phone);
               formData.append('password',this.message.password);
               formData.append('user_type',this.message.user_type);
               formData.append('repass',this.message.repass);
               formData.append('gender',this.message.gender);
                formData.append('institution',this.message.institution);
                formData.append('file',this.image);
                let uri =this.proxyUrl+`signup`;
                this.axios.post(uri, formData).then((response) => {
                    this.$loading(false)
                    if(response.data.status){
                        if(response.data.user.status==='unapproved'){
                            this.$toast.open({message: 'Success sign up ,wait for approval', type: 'success', position: 'top'});
                            this.showMessage='yes';
                            this.message={};
                        }else {
                            this.message={};
                            localStorage.setItem('token', response.data.access_token);
                            localStorage.setItem('name', response.data.user.name);
                            localStorage.setItem('user_type', response.data.user.user_type);
                            localStorage.setItem('auth', 'yes');
                            localStorage.setItem('phone', response.data.user.phone);
                            localStorage.setItem('email', response.data.user.email);
                            this.$toast.open({message: 'You have signed up successfully!', type: 'success', position: 'top'});
                            setTimeout(() => {
                                this.$router.push({name: 'index'});
                            }, 3000);
                        }

                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                        localStorage.removeItem('token')
                    }
                }).catch(error => {
                   this.$loading(false)
                    this.$toast.open({message: 'Something went wrong, try again.', type: 'error', position: 'top'});
                    localStorage.removeItem('token')
                });

            },

        },


    }

</script>
