<template>
    <div>
        <div class="mt-5"><br>
        <div class="container mt-5">
            <div class=" mt-5">
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                <Menu></Menu>
                </div>
                </div>
     
                        <div class="row justify-content-center">
                            <div class="col-sm-6">

 <section class=" pb-5 mb-lg-5 ">
        <div class="row g-4">
          <div class="col-md-12">
              <a class="icon-box card  card-body border-0 shadow-sm card-hover h-100 text-center" href="#">
              <div class="icon-box-media bg-faded-accent text-primary rounded-circle mx-auto mb-3">
                  <i class="fa fa-money"></i></div>
                  <span class="d-block mb-1 text-body">Wallet</span>
              <h3 class="h4 icon-box-title mb-0 opacity-90">Ksh {{formatPrice(wallet)}}</h3>
             
             <hr>
             
       <div class="mt-5 mb-5" v-if="display==='false'">
                                        <!-- <a class="btn btn-primary" v-on:click="getWithdrawalCode()">Withdraw to M-pesa <i class="fa fa-money ml-5"></i></a> -->
                                    <a v-on:click="getWithdrawalCode()" href="#" id="mpesaBtn" class="mpesaButton"><img style="width: 35px; display: inline; margin: -8px;" src= "/images/mpesa.png"><span style="margin-left: 15px;">WITHDRAW</span></a>
                                        <!--<a class="btn btn-info" v-on:click="showModal()">Buy Airtime <i class="fa fa-credit-card ml-5"></i></a>-->
                </div><hr>

                                    <div v-if="display==='true'">
                                    <form v-on:submit.prevent="pushwithdrawal()">
                                    <div class="alert alert-success text-dark" role="alert">
                                       <p class="text-center">A 4 digit verification code has been sent to <b>{{info.phone}}</b>.Please enter the code</p>
                                    </div>
                                    <div class=" mt-3">
                                        <input type="text" v-model="message2.code1" class="pin-code mr-3" maxlength=1 id="1" onkeyup="moveOnMax(this,'a')" />
                                        <input type="text" v-model="message2.code2" class="pin-code mr-3" maxlength=1 id="a" onkeyup="moveOnMax(this,'b')" />
                                        <input type="text" v-model="message2.code3" class="pin-code mr-3" maxlength=1 id="b" onkeyup="moveOnMax(this,'c')" />
                                        <input type="text" v-model="message2.code4" class="pin-code mr-3" maxlength=1 id="c" />
                                    </div>
                                     <!-- <div class="form-group mt-3">
                                        <input id="Full Name"  v-model="message2.code" name="Full Name" placeholder="OTP code" class="form-control" type="number" required>
                                    </div> -->
                                    <div class="form-group mt-3">
                                        <input type="number"  v-model="message2.amount" v-on:keyup="CalcultteCharges()" class="form-control"  id="inputEmail4" placeholder="Amount to withdraw" required>
                                    </div>
                                        <div class="container">
                                            <table class="table table-m">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="data in deductions" :key="data.id">
                                                    <td>{{data.name}}</td>
                                                    <td>{{data.percent}}%</td>

                                                </tr>
                                                <tr>
                                                    <td>Deductions</td>
                                                    <td> Ksh.{{formatPrice(message2.charges)}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Withdrawal charges</td>
                                                    <td>Ksh.{{formatPrice(message2.withdraw_charges)}}</td>
                                                </tr>
                                                <tr class="text-success">
                                                    <td>Amount to receive</td>
                                                    <td>Ksh.{{formatPrice(message2.amount_to_pay)}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    <div class="">
                                         <button  type="submit" id="mpesaBtn" class="mpesaButton"><img style="width: 35px; display: inline; margin: -8px;" src= "/images/mpesa.png"><span style="margin-left: 15px;">SEND REQUEST</span></button>
                                            <!-- <button type="submit" class="btn btn-primary btn-block">Withdraw</button> -->
                                    </div>
                                    </form>
                                </div>
              </a>
              </div>
        </div>
      </section>
                        </div>
                    </div>
            </div>
            </div>
        </div>
    </div>
</template>
<script>
import  Menu from '../view/menu'
    export default {
        name: 'App',
        components: {
            Menu
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message2:{charges:'0',amount_to_pay:'0',user_id:'',withdraw_charges:'0'},
                message:{balance:'0'},
                info:{phone:'',deduction:'0'},
                display:'false',
                deductions:[],
                wallet:'0.00',
                display:'false',
            }
        },
        created(){
                this.user();
        },
        methods: {
            CalcultteCharges(){
                if(this.message2.amount>=0 && this.message2.amount<=1000){
                    this.message2.withdraw_charges='25';
                }else{
                    this.message2.withdraw_charges='35';
                }
                    this.message2.charges=(+this.info.deduction * +this.message2.amount)/100;
                    this.message2.amount_to_pay=+this.message2.amount- +this.message2.charges-+this.message2.withdraw_charges;
            },
            getWithdrawalCode(){
                this.display='false';
                this.message2={charges:'0',amount_to_pay:'0',user_id:''};
               this.$loading(true)
                let uri =this.proxyUrl+`getWithdrawalCode`;
                this.axios.post(uri,this.message2,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                   this.$loading(false)
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.info.phone=response.data.phone;
                        this.info.deduction=response.data.deduction;
                        this.display='true';
                        this.message2.user_id=response.data.user_id;
                        this.deductions=response.data.deductions;
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    this.$loading(false)
                    if (error.response.status === 401) {
                        clearSession();
                         this.$root.$emit('updateInfo')
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
           
            pushwithdrawal(){
                this.message2.code=""+this.message2.code1+this.message2.code2+this.message2.code3+this.message2.code4;
              this.$loading(true)
                let uri =`/api/auth/pushwithdrawal`;
                this.axios.post(uri,this.message2,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.$loading(false)
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.display='false';
                       this.user();
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }

                }).catch(error => {
                  this.$loading(false)
                    if (error.response.status === 401) {
                        clearSession();
                         this.$root.$emit('updateInfo')
                    }else{
                        this.$toast.open({message: 'We are not able to submit your request.Please try again', type: 'error', position: 'top'});
                    }
                });
            },
            
            user() {
                let uri =this.proxyUrl+`user`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.message=response.data.user;
                    this.wallet=response.data.wallet;
                }).catch(error => {
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        },




    }

</script>
