<template>
    <div  class="mt-5">
        <div class="container mt-5">
            <div class="row justify-content-center">
                    <div class="col-sm-12">
                <Menu></Menu>
                </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-8">
                        <section id="contact" class="contact card">
                            <form action="#" method="post" role="form" class="php-email-form" v-on:submit.prevent="stkPush()">
                        <div id="invoice" class="border">

                            <div class="invoice overflow-auto">
                                <div class="toolbar hidden-print">
                                   

                                </div>
                                <div >
                                    <header>
                                        <div class="row">
                                            <!--<div class="col">-->
                                                <!--<a target="_blank" href="#">-->
                                                    <!--<img src="/images/logo2.png" data-holder-rendered="true" />-->
                                                <!--</a>-->
                                            <!--</div>-->
                                            <div class="col company-details">
                                                <h6 class="name">
                                                    <a  href="#">
                                                        {{order.order_no}}
                                                    </a>
                                                </h6>
                                            </div>
                                        </div>
                                    </header>
                                    <main>
                                        <div class="row contacts">
                                            <div class="col invoice-to">
                                                <div class="text-gray-light">INVOICE TO:</div>
                                                <h6 class="to">{{user.name}}</h6>
                                                <div class="email"><a href="#">{{user.email}}</a></div>
                                            </div>
                                            <div class="col invoice-details">
                                                <h6 class="invoice-id">Ksh {{formatPrice(total)}}</h6>
                                                <div class="date">Date of Invoice: {{order.created_at}}</div>
                                            </div>
                                        </div>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th class="text-left">Title</th>
                                                <th class="text-right">Amount</th>
                                                <th class="text-right">Q</th>
                                                <th class="text-right">TOTAL</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            <tr v-for="(data,index) in records" :key="data.id">
                                                <td class="no">{{index+1}}</td>
                                                <td class="text-left"><h6>{{data.title}}</h6></td>
                                                <td class="unit">Ksh {{formatPrice(data.amount)}}</td>
                                                <td class="qty">1</td>
                                                <td class="total">Ksh {{formatPrice(data.amount)}}</td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td colspan="2"></td>
                                                <td colspan="2">SUBTOTAL</td>
                                                <td>Ksh {{formatPrice(total)}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"></td>
                                                <td colspan="2">TAX </td>
                                                <td>00.00</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"></td>
                                                <td colspan="2">GRAND TOTAL</td>
                                                <td>Ksh {{formatPrice(total)}}</td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                        
                                        <div v-if="order.status==='PENDING'" class="thanks text-danger">{{order.status}}! </div>
                                        <div v-if="order.status==='PAID'" class="thanks text-success">{{order.status}}! <i class="fa fa-check"></i></div>
                                        <!--<div class="notices">-->
                                            <!--<div>NOTICE:</div>-->
                                            <!--<div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>-->
                                        <!--</div>-->
                                        <div class="row mt-5" v-if="order.status==='PAID'">
                                            <div class="text-center"><router-link :to="{name:'downloads'}" class="btn btn-warning" >Download<i class="fa fa-download ml-5"></i></router-link></div>
                                        </div>
                                    </main>

                                    <div v-if="order.status==='PENDING'" >
                                        

  
                                    <div class="row justify-content-center" >
                                        <div class="col-sm-12" v-if="showPage==='yes'">
                                            <p>Enter m-pesa phone no. to make direct payment</p>
                                                <div class="form-group">
                                                    <!-- <label for="input-normal" class="form-label">Enter m-pesa phone no. to make direct payment</label><br> -->
                                                    <vue-tel-input class="form-control" id="input-normal" v-model="message.phone" v-bind="bindProps"></vue-tel-input>
                                                </div>
                                            <div class="row mt-5" v-if="showAlert==='true'">
                                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                                    <h4 class="alert-heading">Success!</h4>
                                                    <p>Payment initiated on <span>{{message.phone}}</span>.Plesse enter M-pesa pin.</p>
                                                    <p>We are trying to detect payment.Please wait... <i class="fa  fa-2x fa-spinner fa-spin" aria-hidden="true"></i></p>
                                                     <!--<p>Once you receive M-pesa confirmation, <a href="#">Please click here</a></p>-->
                                                </div>
                                            </div>
                                            <div class="row mt-5" v-if="showAlert==='success'">
                                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                    <h4 class="alert-heading">Congratulations!</h4>
                                                    <span class="fw-bold">{{message.mpesa_ref}}:</span> Payment detected succefully.Please wait once more... <i class="fa  fa-2x fa-spinner fa-spin" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                             <div class="row mt-5" v-if="showAlert==='error'">
                                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                    <h4 class="alert-heading">Oooooooops!!</h4>
                                                    <span class="fw-bold">Cancelled:</span>User cancelled this payment.Please wait... <i class="fa  fa-2x fa-spinner fa-spin" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                                <div class="row mt-5">
                                                 <button type="submit"  class="btn btn-primary btn-block">Make payment</button>
                                                </div>
                                                <div class="bg">
                                            <h6 class="text-center mt-5">_________OR___________</h6>
                                            <li>Got to Mpesa menu</li>
                                            <li>Lipa na M-pesa</li>
                                            <li>Paybill</li>
                                            <li>Enter paybill no <span class="text-primary">8014705</span></li>
                                            <li>Enter account no <span class="text-primary">{{order.order_no}}</span></li>
                                            <li>Enter amount <span class="text-primary">{{formatPrice(total)}}</span></li>
                                            <li>Enter M-pesa Pin and send</li>
                                            <li>Wait for M-pesa confirmation and <a href="#" class="text-primary" v-on:click="getData()">click here...</a></li>
                                                </div>
                                        </div>
                                        <div class="col-sm-8" v-if="showPage==='no'">
                                            <h6>Coming soon.....</h6>
                                        </div>
                                    </div>
                                    </div>

                                </div>
                                <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
                                <div></div>
                            </div>
                        </div>
                            </form>
                        </section>

                    </div>
                </div>

            </div>
        </div>
        

</template>
<script>
    import  Menu from '../view/menu'
    export default {
        name: 'App',
        components: {
            Menu
        },
        data(){
            return {
                message:{mpesa_ref:''},
                showPage:'yes',
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    minLen:4,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                proxyUrl: process.env.MIX_APP_URL,
                user:{},
                order:{},
                records:[],
                total:'0',
                showAlert:'false',
                info:{},
            }
        },
        created(){
                this.getData();
        },
        methods: {
            switchPage(val){
                this.showPage=val;
            },
            stkPush(){
                this.$loading(true)
                let uri =this.proxyUrl+`initiateSTK/${this.$route.params.id}`;
                // let uri =this.proxyUrl+`simulateC2B`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.$loading(false)
                    if(response.data.status){
                        this.$toast.open({message: response.data.ResponseMessage, type: 'success', position: 'top'});
                        this.message.CheckoutRequestID=response.data.CheckoutRequestID;
                        this.message.MerchantRequestID=response.data.MerchantRequestID;
                        this.showAlert='true';
                        this.interval = setInterval(() => this.checkStkPayment(), 3000);
                    }else{
                        this.$toast.open({message: response.data.ResponseMessage, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    this.$loading(false)
                    if (error.response.status === 401) {
                         clearSession();
                         this.$root.$emit('updateInfo')
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            checkStkPayment(){
                let uri =this.proxyUrl+`checkStkPayment`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    if(response.data.status){
                        this.message.mpesa_ref=response.data.info.mpesa_ref;
                        this.showAlert='success';
                         setTimeout(() => {  
                              location.reload();
                             }, 6000);
                    }else{
                        if(response.data.info.status==='CANCELLED'){
                            this.showAlert='error';
                            setTimeout(() => {
                                location.reload();
                            }, 6000);
                        }
                    }
                    
                }).catch(error => {
                    if (error.response.status === 401) {
                        clearSession();
                         this.$root.$emit('updateInfo')
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            getData(){
                this.$loading(true)
                let uri =this.proxyUrl+`getOrder/${this.$route.params.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.$loading(false)
                    this.user=response.data.user;
                    this.order=response.data.order;
                    this.records=response.data.records;
                    this.total=response.data.total;
                }).catch(error => {
                    this.$loading(false)
                    this.loader='false';
                    if (error.response.status === 401) {
                        clearSession();
                         this.$root.$emit('updateInfo')
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },

            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            reloadpage(){
                location.reload();
            }

        },
    }

</script>
