<template>
    <div>
        <section class="py-5 mt-5 mb-lg-5">
        <div class="container">
<div class="row justify-content-center ">
    <div class="col-sm-6">
        <div class="d-flex">
            <h6 class="mr-5">Filter:</h6>
            <div class="mb-3 mr-5">
  
  <select class="form-select" id="select-normal" v-on:change="getBooksByCategory()" v-model="message.id">
    <option  disabled selected >Select category</option>
    <option v-for="cat in category" :key="cat.id" v-bind:value="cat.id">{{cat.name}}</option>
  </select>
</div>

<div class="mb-3">
 
  <select class="form-select" id="select-normal" v-on:change="getBooksByLevel()" v-model="message.darasa_id">
    <option disabled="disabled" selected="selected">Select level</option>
    <option v-for="cat in level" :key="cat.id" v-bind:value="cat.id">{{cat.name}}</option>
  </select>
</div>
            
        </div>

    </div>
    <div class="col-sm-6">
        <div class="d-flex">
            <div class="mb-3 mr-5">

  <select class="form-select" id="select-normal" v-on:change="getBooksBySubject()" v-model="message.subject_id">
   <option disabled="disabled" selected="selected">Select subject</option>
    <option v-for="cat in subjects" :key="cat.id" v-bind:value="cat.id">{{cat.name}}</option>
  </select>
</div>
<div class="mb-3">
  
  <div class="input-group">
          <i class="fi-search position-absolute text-muted top-50 translate-middle-y ps-1 ms-2"></i>
          <input class="form-control rounded-2" v-model="message.filterval" v-on:keyup="filter()" type="search" placeholder="filter here..">
        </div>
</div>

        </div>
        
    </div>
</div>


<div class="row">
    <div class="col-sm-4" v-for="data in books" :key="data.id">
        <article class="card border-0 shadow-sm card-hover card-horizontal mb-3">
  <a href="#" class="card-img-top" style="background-image: url(/images/cat2.jpg);opacity:0.3;"></a>
  <div class="card-body">
    <a href="#" class="fs-xs text-uppercase text-decoration-none">{{data.level}}</a>
    <h3 class="fs-base pt-1 mb-2">
      <a href="#" class="nav-link">{{data.title}}</a>
    </h3>
    <p class="fs-sm text-muted">{{data.description}}</p>
    <a href="#" class="d-flex align-items-center text-decoration-none">
      
      <div class="ps-2 text-center">
        <h6 class="fs-sm text-nav lh-base mb-1"><span class="text-success">Ksh.{{formatPrice(data.amount)}}</span>   <del>Ksh.{{formatPrice((data.amount * 30/100)+ +data.amount)}}</del></h6>
       <a  v-on:click="addTocart(data.title,data.amount,data.id)"><i class="fa fa-shopping-cart mr-2"></i>Add to cart</a>
      </div>
    </a>
  </div>
</article>
    </div>
</div>
     </div>
        </section>
    </div>
</template>
<script>
    const customStyles = {
        a: {
            color: '#e96b56',
        },
    };
    export default {
        name: 'App',
        data(){
            return {
                customStyles,
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                books:[],
                books2:[],
                category:[],
                subjects:[],
                loader:'false',
                cart:[],
                level:[],
                pageOfItems: [],
            }
        },
        mounted() {
        this.$root.$on('shop_category', () => {
        this.message.id=this.$route.params.id;
        this.getBooksByCategory();
       
        })
        },
        created(){
            this.message.id=this.$route.params.id;
                this.getBooksByCategory();
        },
        methods: {
            onChangePage(pageOfItems) {
                // update page of items
                this.pageOfItems = pageOfItems;
            },
            addTocart(title,amount,id){
                this.cart=JSON.parse(localStorage.getItem('cart'));
                if(this.cart==null){
                    this.cart=[];
                }
                if(this.cart.some(person => person.id ===id)){
                    this.$toast.open({message: 'Item already exist in your cart', type: 'warning', position: 'top'});
                } else{
                    var item =({'title':title, 'amount':amount, 'id':id});
                    this.cart.push(item);
                    localStorage.setItem('cart',JSON.stringify(this.cart));
                    localStorage.setItem('item',this.cart.length);
                    this.$root.$emit('popCart')
                   this.$toast.open({message: 'Item Added to cart successfully', type: 'success', position: 'top-right'});
                }
            },
            getBooksBySubject() {
                this.$loading(true)
                this.loader='true';
                let uri =this.proxyUrl+`getBooksBySubject/${this.message.subject_id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                   this.$loading(false)
                    this.books=response.data.books;
                    this.books2=response.data.books;
                }).catch(error => {
                   this.$loading(false)
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });

            },
            getBooksByClasses() {
                this.$loading(true)
                this.loader='true';
                let uri =this.proxyUrl+`getBooksByClasses/${this.$route.params.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.$loading(false)
                    this.books=response.data.books;
                    this.books2=response.data.books;
                }).catch(error => {
                    this.$loading(false)
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });

            },
            getBooksAll() {
               this.$loading(true)
                let uri =this.proxyUrl+`getBooksAll`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.$loading(false)
                    this.books=response.data.books;
                    this.category=response.data.category;
                    this.subjects=response.data.subjects;
                    this.level=response.data.level;
                    this.books2=response.data.books;
                }).catch(error => {
                    this.$loading(false)
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });

            },
            getBooksByCategory() {
                this.$loading(true)
                let uri =this.proxyUrl+`getBooksByCategory/${this.message.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.$loading(false)
                    this.books=response.data.books;
                    this.category=response.data.category;
                    this.subjects=response.data.subjects;
                    this.level=response.data.level;
                    this.books2=response.data.books;
                }).catch(error => {
                     this.$loading(false)
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });

            },
            getBooksByLevel() {
                 this.$loading(true)
                let uri =this.proxyUrl+`getBooksByLevel`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.$loading(false)
                    this.books=response.data.books;
                    this.books2=response.data.books;
                }).catch(error => {
                     this.$loading(false)
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            filter(){
                let filterval=this.message.filterval;
                if(filterval==='' || filterval===null){
                    this.books=this.books2;
                }else{
                    let books =  this.books2.filter(function(product) {
                        return product.title.toLowerCase().includes(filterval.toLowerCase()) || product.level.toLowerCase().includes(filterval.toLowerCase())
                    });
                    this.books=books;
                }
            },

            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        },
    }

</script>
