<template>
    <div class="mt-5"><br>
        <div class="container mt-5">
            <div class=" mt-5">
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                <Menu></Menu>
                </div>
                </div>
               
                <div class="row justify-content-center">
                    <h6 class="text-center">My Uploads</h6>
                    <div class="col-sm-12">
                                    <div class="table-responsive">
                                    <table class="table ">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Title</th>
                                            <th>Amount</th>
                                            <th>Category</th>
                                            <th>Subject</th>
                                            <th>Class</th>
                                            <th>Level</th>
                                            <!--<th>Description</th>-->
                                            <!--<th>File</th>-->
                                            <th>Edit</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(data,index) in pageOfItems" :key="data.id">
                                            <td>{{index+1}}</td>
                                            <td>{{data.title}}</td>
                                            <td>Ksh {{formatPrice(data.amount)}}</td>
                                            <td>{{data.category}}</td>
                                            <td>{{data.subject}}</td>
                                            <td>{{data.darasa}}</td>
                                            <td>{{data.level}}</td>
                                            <!--<td>{{data.description}}</td>-->
                                            <!--<td><a :href="MIX_APP_File+'/storage/Books/'+data.url">{{data.url}}</a></td>-->
                                            <td><router-link :to="{name:'edit',params: { id: data.id }}" href="#"><i class="fa fa-edit"></i></router-link> </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-sm-12">
                                            <jw-pagination :items="books" @changePage="onChangePage" ></jw-pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
</template>
<script>
    const customStyles = {
    };
    import  Menu from '../view/menu'
    export default {
        name: 'App',
        components: {
            Menu
        },
        data(){
            return {
                customStyles,
                proxyUrl: process.env.MIX_APP_URL,
                MIX_APP_File:'',
                message:{},
                books:[],
                books2:[],
                subjects:[],
                name:'',
                user_type:'',
                auth:'',
                loader:'false',
                image:'',
                showMessage:'no',
                error:'',
                pageOfItems: [],
            }
        },
        created(){
                this.getData();
        },
        methods: {
            filter(){
                let filterval=this.message.filterval;
                if(filterval==='' || filterval===null){
                    this.books=this.books2;
                }else{
                    let books =  this.books2.filter(function(product) {
                        return product.title.toLowerCase().includes(filterval.toLowerCase());
                    });
                    this.books=books;
                }
            },
            onChangePage(pageOfItems) {
                this.pageOfItems = pageOfItems;
            },
            getData() {
                this.$loading(true)
                let uri =this.proxyUrl+`books`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                   this.$loading(false)
                    this.books=response.data.books;
                    this.books2=response.data.books;
                    this.MIX_APP_File=response.data.MIX_APP_File;
                }).catch(error => {
                    this.$loading(false)
                    if (error.response.status === 401) {
                        clearSession();
                         this.$root.$emit('updateInfo')
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.');
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        },
    }

</script>
